* {
	box-sizing: border-box;
}

body {
	background: url('../images/code3.jpg');
	color: #777
	font-size: 18px;
	line-height: 34px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

h1, h2, h3, p {
	margin-bottom: 20px;
}

p:last-child {
	margin-bottom: 0;
}

h1, h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-variant-position: 700;
	color: #4aaaa5;

}

h1 {
	font-size: 30px;
	line-height: 49px;
	border-bottom: 3px solid #ddd;
	padding-bottom: 20px;
}

h2, h3 {
	font-size: 22px;
}

.masthead {
	background: url('../images/concrete.jpg');
	z-index: 99;
	margin: 0 0 30px;
	color: black;
	overflow: auto;
	border-bottom: 2px solid #ccc;
	position: fixed;
	width: 100%;

}

#name {
	width: 250px;
	height: 90px;
	background: #4aaaa5;
	float: left;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	line-height: 90px;
	color: #fff;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
}

nav {
	float: right;
	margin-top: 25px;
}

nav a {
	color: black;
	text-decoration: none;
	margin-left: 15px;
	display: inline-block;
	border-left: ipx solid #efefef;
	padding-left: 15px;
	line-height: 18px;
}

nav a:first-child {
	border-left: 0 none;
}

#main-container{
	padding-top: 130px;
}

.main-section {
	background: url('../images/headerback.jpg');
	padding: 30px;
	margin: 0 0 40px 0;
	width: 70%;
	float: left;
	border: 1px solid #ddd;
}

.pict {
	width: 200px;
	height: auto;
	margin-top: 10px;
	float: left;
	margin-right: 25px;
}

.sidebar {
	background: url('../images/headerback.jpg');
	padding: 30px;
	width: 100%;
	max-width: 270px;
	float: right;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.sidebar, h2 {
	border-bottom: 2px solid #eee;
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
}

.social {
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 4px;
}

.social:last-child {
	margin-right: 4;
}

footer {
	background: url('../images/concrete.jpg');
	color: black;
	padding: 30px 0;
	clear: both;
	border-top: 8px solid #4aaaa5;
	font-size: 13px;
	text-align: center;
}

#contact-form ul {
	margin-bottom: 20px;
}
#contact-form li {
	margin-bottom: 10px;
}
label,
input[type=text],
input[type=email],
textarea {
	display: block;
	width: 100%;
}
input[type=text],
input[type=email],
textarea {
	height: 35px;
	border: 1px solid #ddd;
	padding: 0 10px;
	font-size: 14px;
}
textarea {
	height: 200px;
}
input[type=submit] {
	background: #4aaaa5;
	border: 0 none;
	color: #fff;
	font-size: 18px;
	padding: 10px 30px;
	cursor: pointer;
}
	
.work {
	width: 274px;
	overflow: auto;
	position: relative;
	float: left;
	margin: 15px;
}
.work:nth-child(even) {

}
.work img {
	width: 100%;
	border: 0 none;
	opacity: .8;
}
.work iframe {
	width: 100%;
	opacity: .8;
}

.work h3 {
	border-bottom: 0;
	background: #4aaaa5;
	color: #fff;
	text-align: center;
	position: absolute;
	padding: 15px;
	width: 100%;
	bottom: 20px;
	line-height: 30px;
	margin-bottom: 0;
	font-weight: 300;
}

nav a:hover {
	font-style: oblique;
	color: #D4AF37;
}

#name:hover {
	font-style: oblique;
	color: black;
}

#working:hover {
	font-style: oblique;
	color: black;
}

/*media query for smartphone at 640px max*/

@media screen and (max-width: 640px) {

body {
	
	clear: float;
}
.container {
	width: 100%;
}
.masthead {
	position: relative;
	margin: 0 auto;
	width: 100%;

}

#main-container {
	padding-top: 0;

}

#name {
	width: 100%;
}

nav {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	padding: 10px;

}

nav a {
	margin: 10px auto 10px auto;
	width: 32%;
	border-left: 1px solid darkgrey;

}

nav a:first-child {
	border-left: 0 none;
}

.main-section {
	width: 95%;
	margin: 0 auto;
	margin: 15px auto 15px auto;
	float: none;
	padding-top: 0;

}

.pict {
	margin: 0 50px 10px 50px;
	width: 80%;
}

.sidebar {
	
	max-width: 95%;
    float: none;
    margin: 0 auto 15px auto;
    padding-top: 0;

}

.work {
	
	width: 90%;
	height: auto;
	float: none;
}

.work:nth-child(even) {
	float: none;
	
}


}

/*media query for smartphone at 768px max*/


@media screen and (min-width: 641px) and (max-width: 768px) {

body {
	
	clear: float;
}

#main-container {
	padding-top: 95px;
}
.main-section {
	width: 95%;
	height: auto;
	margin: 0 auto;
	margin: 17px;
	padding-top: 0;
}
.work {
	
	overflow: auto;
	position: relative;
	margin: 25px;
	}

.sidebar {
	
	max-width: 95%;
    height: auto;
    margin: 17px;
    padding-top: 0;
}
#name {
	margin-left: 17px;
}
nav {
	margin-right: 25px;
}
}

@media screen and (min-width: 769px) and (max-width: 980px) {

body {
	clear: float;
}

.container {
	width: 70%;
}
.main-section {
	width: 58%;

}
.sidebar {
	width: 40%;
	min-width: 270px;
	min-height: 207px;
}
.pict {
	width: 98%;
	float: none;
}
.work {
	margin: 0;
	width: 100%;
}

}


